<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devsurfer.purepicks.manager.mapper.CategoryMapper">
    <sql id="category_column">
        `id`, `parent_id`, `name`, `image_icon`, `sort`, `status`, `create_time`, `update_time`
    </sql>

    <select id="findCategoryList" resultType="com.devsurfer.purepicks.model.entity.category.Category">
        select
        <include refid="category_column"/>
        from `category`
        <where>
            `is_deleted` = 1
            <if test="keyword != null and keyword != ''">
                and `name` like concat('%', #{keyword}, '%')
            </if>
            <if test="status != null">
                and `status` = #{status}
            </if>
            <if test="createStartTime != null and createStartTime != '' and createEndTime != null and createEndTime != ''">
                and `createTime` between `createStartTime` and `createEndTime`
            </if>
        </where>
        <choose>
            <when test="sorts != null and sorts.size() > 0">
                order by
                <foreach collection="sorts" item="sort" separator=",">
                    #{sort.column} #{sort.order}
                </foreach>
            </when>
            <otherwise>
                order by `create_time`
            </otherwise>
        </choose>
    </select>

    <select id="selectByNameAndParentId" resultType="com.devsurfer.purepicks.model.entity.category.Category">
        select
        <include refid="category_column"/>
        from `category`
        where `is_deleted` = 1 and `name` = #{name} and `parent_id` = #{parentId}
    </select>

    <insert id="insertCategory" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        insert into `category` (`parent_id`, `name`, `image_icon`, `sort`, `status`)
        values (#{parentId}, #{name}, #{imageIcon}, #{sort}, #{status})
    </insert>

    <select id="selectByNotIdNameAndParentId" resultType="com.devsurfer.purepicks.model.entity.category.Category">
        select
        <include refid="category_column"/>
        from `category`
        where `is_deleted` = 1 and `id` != #{id} and `name` = #{name} and `parent_id` = #{parentId}
    </select>

    <update id="updateCategory">
        update `category`
        <set>
            <if test="parentId != null">
                `parent_id` = #{parentId},
            </if>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="imageIcon != null and name != ''">
                `image_icon` = #{imageIcon},
            </if>
            <if test="sort != null">
                `sort` = #{sort},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
        </set>
        where `id` = #{id} and `is_deleted` = 1
    </update>

    <select id="countByParentId" resultType="Long">
        select count(`id`)
        from `category`
        where `parent_id` = #{categoryId} and `is_deleted` = 1
    </select>

    <delete id="deleteById">
        update `category`
        set `is_deleted` = 0
        where `id` = #{categoryId} and `is_deleted` = 1
    </delete>
</mapper>
