<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devsurfer.purepicks.manager.mapper.StatisticsMapper">

    <insert id="insert">
        insert into `order_statistics` (`order_date`, `total_amount`, `total_num`)
        values (#{yesterday}, #{orderStatistics.totalAmount}, #{orderStatistics.totalNum})
    </insert>

    <select id="findOrderStatisticsList" resultType="com.devsurfer.purepicks.model.entity.order.OrderStatistics">
        select  `order_date`    as orderDate,
                `total_amount`  as totalAmount,
                `total_num`     as totalNum
        from `order_statistics`
        <where>
            <if test="createTimeBegin != null">
                and `order_date` &gt;= #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                and `order_date` &lt;= #{createTimeEnd}
            </if>
        </where>
    </select>
</mapper>
